@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffc100; /* Light theme background */
  --foreground: #000000; /* Light theme text color */
}

body {
  overflow-x: hidden;
  background-color: white;
  color: var(--foreground);
}

/* Dark theme settings */
[data-theme='dark'] {
  --background: #00504A; /* Dark green background */
  --foreground: #FFFFFF; /* White or light color for text */
}

/* Optional utility class for text balance */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes move-across {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-move-across {
  animation: move-across 10s ease-in-out infinite;
}

