@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*
  prefers-color-shceme for making dark and light themes
*/
[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
